<h1>Angular by Hamedani</h1>
<app-courses *ngIf="showCourses"></app-courses>
<app-panel *ngIf="showPanel">
    <div class="heading">
        <h2> Heading</h2>
    </div>
    <div class="body">
        <p>Text in body</p>
    </div>
</app-panel>
<app-like *ngIf="showLike" [tweetIsLiked]="tweet.isLiked" [likeCount]="tweet.likesCount"></app-like>

<div *ngIf="showApp">
    <ul class="nav nav-pills">
        <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
        <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
    </ul>

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'map'">Map View Content</div>
        <div *ngSwitchCase="'list'">List View Content</div>
        <div *ngSwitchDefault>Otherwise Content</div>
    </div>
    <div>
        <input type="text" appInputFormat [format]="'uppercase'">
    </div>
</div>
<div *ngIf="showZippy">
    <app-zippy title="Shipping Details">
        Shopping Details Content
    </app-zippy>
    <app-zippy title="Billing Details">
        Billing Details Content
    </app-zippy>
</div>
<div *ngIf="showContactForm">
    <app-contact-form></app-contact-form>
</div>

<div *ngIf="showCourseForm">
    <app-udemy-course></app-udemy-course>
</div>
