<h2>{{getTitle()}}</h2>
<button class="btn btn-primary" (click)="loadCourses()">Load Courses</button>
<div *ngIf="courses.length > 0; then courseslist else nocourses"></div>
<ng-template #courseslist>
    <ul>
        <li *ngFor="let course of courses; index as i; trackBy : trackCourse">{{i}} {{course.name}}
          <button (click)="onRemoveCourse(i)">Remove course</button>  
        </li>
    </ul>
</ng-template>
<ng-template #nocourses>
    <p>No courses available</p>
</ng-template>
<div id="table">
    <table>
        <tr>
            <td [attr.colspan]="colSpan">Name</td>
            <td [attr.colspan]="colSpan">Students</td> 
            <td [attr.colspan]="colSpan">Price</td>
            <td [attr.colspan]="colSpan">Rating</td>
            <td [attr.colspan]="colSpan">Release Date</td>
        </tr>
        <tr>
            <td [attr.colspan]="valueSpan">{{course.name | uppercase}}</td>
            <td [attr.colspan]="valueSpan">{{course.students | number}}</td>
            <td [attr.colspan]="valueSpan">{{course.price | currency:'EUR'}}</td>
            <td [attr.colspan]="valueSpan">{{course.rating | number:'1.2-2'}}</td>
            <td [attr.colspan]="valueSpan">{{course.releaseDate}}</td>
        </tr>

    </table>
</div>
<div id="image">
    <img src="{{imageUrl}}" />
</div>
<div>
    <input type="text" [(ngModel)]='name' class="input-field" (keyup.enter)="onKeyUp()" placeholder="Enter course name">
    <br>
    <button class="btn btn-primary button-position" [class.active]="isActive"
        [style.backgroundColor]="isActive?'blue':'white'" (click)="isActive = !isActive; onSave();">Save</button>
</div>
<div>
    <p>{{text | summary:60}}</p>
</div>
<div id="titlecase">
    <input type="text" [(ngModel)]='assignText'>
    <br>
    <p>{{assignText | titlecase}}</p>
</div>
<div>
    <app-favorite [isSelected]="post.isFavorite" (change)="onChangeNotify($event)"></app-favorite>
</div>